<div class="frame">
  <div id="sidebar">
    <div class="dropzone">
      <ngx-dropzone (change)="onSelect($event)" accept=".fbx" [expandable]="true">
        <ngx-dropzone-label>Drop FBX files</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <button mat-button class="sidebar__button" (click)="nest()">Nest</button>
  </div>
  <div id="scene">
    <canvas #rendererCanvas id="rendererCanvas"></canvas>
  </div>
</div>
