.frame {
  display: flex;
  width: 100vw;
  height: 100vh;
}
#rendererCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
#rendererCanvas:focus {
  outline: none;
}
#sidebar {
  flex: 1 1 22%;
  font-family: monospace;
  padding: .5em;
  background: #444;
  color: white;
}
#scene {
  flex: 1 1 78%;
}
.dropzone {
  max-height: 50%;
  overflow-y: auto;
}
.sidebar__button {
  width: 50%;
  height: 4%;
}
.sidebar__number {
  width: 100%;
}
.sidebar__block {
  padding-top: 5%;
  padding-bottom: 5%;
}
