<div class="frame">
  <div id="sidebar">
    <div class="dropzone">
      <ngx-dropzone (change)="onSelect($event)" accept=".fbx" [expandable]="true">
        <ngx-dropzone-label>Drop FBX files</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <button class="sidebar__button" (click)="nest()">Nest</button>
    <table>
      <tr>
        <td>Tolerance</td>
        <td><input type="number" value=1></td>
      </tr>
      <tr>
        <td>Cut thickness</td>
        <td><input type="number" value=1></td>
      </tr>
      <tr>
        <td>Curve approximation</td>
        <td><input type="number" value=1></td>
      </tr>
      <tr>
        <td>Iterations count</td>
        <td><input type="number" value=1></td>
      </tr>
      <tr>
        <td>Population size</td>
        <td><input type="number" value=1></td>
      </tr>
      <tr>
        <td>Mutation rate</td>
        <td><input type="number" value=1></td>
      </tr>
      <tr>
        <td>Use holes</td>
        <td><input type="number" value=1></td>
      </tr>
    </table>
  </div>
  <div id="scene">
    <canvas #rendererCanvas id="rendererCanvas"></canvas>
  </div>
</div>
